.task {
  background: var(--color-bg-purple);
  border: inherit;
  padding: 5px 20px;
  border-radius: 10px;
  gap: 12px;
  width: 75%;
}

.task p {
  font-size: 20px;
  line-height: 19px;
  margin-top: 1rem !important;
  color: #f2f2f2;
  margin-right: auto;
  cursor: pointer;
}

.task input {
  font-size: 20px;
  line-height: 19px;
  color: var(--color-black);
  width: 75%;
  margin: 0.8rem auto 0.7rem 0 !important;
}

p.textCompleted {
  color: #999999;
  text-decoration: line-through;
}

.checkContainer {
  width: 18px;
  height: 18px;
  background: none;
  border: none;
}

.checkContainer div {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  margin-top: 0.2rem;
  border: 2px solid var(--color-font-purple);
}

.checkContainer svg {
  width: 100%;
  height: 100%;
  color: #5e60ce;
}

.editButton,
.deleteButton {
  background: none;
  border: none;
  color: #808080;
}

@media only screen and (max-width: 450px) {
  .task {
    width: 100% !important;
  }

  .task > input,
  .task p {
    width: 75px !important;
    overflow: hidden;
  }
}
