.tasks {
  max-width: 736px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 1rem;
  max-height: 400px !important;
}

.tasks > .header {
  margin-bottom: 24px;
  height: auto;
  padding: 0 1rem;
}

.header > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.header p {
  color: var(--color-font-purple);
  font-size: 14px;
  font-weight: 700;
}

.header span {
  background: #333333;
  color: #d9d9d9;
  padding: 3px 9px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 700;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: inherit;
  border-radius: 10px;
  overflow: auto;
  max-height: 300px;
}

.list::-webkit-scrollbar {
  width: 10px;
}

.list::-webkit-scrollbar-track {
  background-color: #8b5a8c;
  border-radius: 10px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}

.list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@media only screen and (max-width: 564px) {
  .tasks > .header {
    width: 90% !important;
  }
}

@media only screen and (max-width: 450px) {
  .tasks {
    padding: 0 0.2rem;
  }

  .tasks > .header {
    width: 100% !important;
    padding: 0 1rem;
  }

  .header p,
  .header span {
    font-size: 10px !important;
  }
}
