:root {
  --color-light-purple: #bfa8b3;
  --color-light-purple-opacity: #bfa8b3c2;
  --color-button-purple: #a680a3;
  --color-bg-purple: #8b5a8c;
  --color-font-purple: #542d59;
  --color-black: #0d0d0d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: var(--color-light-purple-opacity);
  max-height: 95%;
}

body {
  background-image: url(./assets/bg-img.jpg);
  color: #f2f2f2;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -2 !important;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

@media only screen and (max-width: 345px) {
  body {
    font-size: smaller !important;
    width: smaller !important;
  }

  .container {
    margin: 0 1rem !important;
  }
}
